<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/chat.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <style type="text/css">
        .panel-body {
            height:300px;
            overflow-y:scroll;
            padding-bottom: 50px;
            }
    </style>

<div class='container'>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>Chat Box</h2></div>
  <!-- List group -->
  <div class='panel-body' >
  <table  id="refresh" class="table">
  <tbody>
      <tr><td></td></tr>
  </tbody>
  </table>
  </div>

<div class="panel-footer">
<div class="row white">
    <table class="MyTable">
    <tbody>
    <tr class="tr_class">
    <div class="columns large-6">
        <form method="POST" id="post-form" action="/chat/new_message/">

            <td class="col-lg-6"><div class="fieldWrapper" id="the_post" class="form-control" type="text">
                {{ form.message_text }}
            </div></td>
            <td class="col-lg-6"> <input type="submit" value="Post" class="btn btn-success"></td>
        </form>
    </div>
    </tr>
    <tr>
    	<td id="form_message"></td>
    </tr>
    </tbody>
    </table>
</div>
</div>
</div>
</div>





