<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <style type="text/css">
        .panel panel-default {
            height:600px;
            overflow-y:scroll;
            padding-bottom: 50px;
            }
    </style>

<div class='container'>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>Chat Box</h2></div>
  <!-- List group -->
  <div class='panel-body'>
  <table  id="refresh" class="table">
  <tbody>
      <tr><td></td></tr>
  </tbody>
  </table>
  </div>

<div class="panel-footer">
<div class="row white">
    <table class="MyTable">
    <tbody>
    <tr class="tr_class">
    <div class="columns large-6">
        <form method="POST" id="post-form" action="/chat/new_message/">

            <td class="col-lg-6"><div class="fieldWrapper" id="the_post" class="form-control" type="text">
                {{ form.message_text }}
            </div></td>
            <td class="col-lg-6"> <input type="submit" value="Post" class="btn btn-success"></td>
        </form>
    </div>
    </tr>
    </tbody>
    </table>
</div>
</div>
</div>
</div>




<script>
$(function() {

	 $('#post-form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    create_post();
});

    // AJAX for posting
    function create_post() {
        console.log("create post is working!") // sanity check
        $.ajax({
            url : "/chat/new_message/", // the endpoint
            type : "POST", // http method
            data : { the_post : $('#message_text').val() }, // data sent with the post request
            // handle a successful response
            success : function(json) {
            	console.log($('#message_text').val());
            	alert('Your message has been sent successfuly')
                $('#message_text').val(''); // remove the value from the input
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
                console.log({{form.message_text.errors}})
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    };

  
    setInterval(function(){my_function() }, 100000); 
     
    function my_function(){
      $.getJSON('/content/',
        function(data){
        	if (data.status == 'update succeeded'){
        	    for (item in data.answer) {
                    $('#refresh').append('<tr><td>'+item+'</td></tr>') 
            }}
    });
    };

});
</script>

 $("#my-modal .modal-body").load(target, function() {
         $("#my-modal").modal("show");
    });



