body {
  background: url(/static/image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#login-wraper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -185px;
  margin-left: -235px;
  padding: 25px;
  width: 320px;
  height: 320px;
  background: white;
  text-align: center;
}

.login-form legend {
  margin-top: 5px;
  margin-bottom: 30px;
  padding-bottom: 25px;
}
/* line 102, ../sass/typica-login.scss */
.login-form .body {
  padding-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}
/* line 106, ../sass/typica-login.scss */
.login-form .footer {
  margin-top: 20px;
}
/* line 108, ../sass/typica-login.scss */
.login-form .footer .checkbox.inline {
  display: inline;
}
/* line 110, ../sass/typica-login.scss */
.login-form .footer .checkbox.inline input[type="checkbox"] {
  float: none;
  margin-top: -4px;
}
/* line 115, ../sass/typica-login.scss */
.login-form .footer .btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 15px;
  padding: 7px 25px;
  background-image: none;
}

.error {
  text-align: center;
}

.bottom_class {
  margin-left: 20px;
    position:absolute;
    bottom:0;
    font-family: 'Shift', sans-serif;
}